<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Новый зал</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <h2 class="page-head-title">Заполните поля</h2>
    <div>
        <form class="page-head" action="POST">
            <div class="addBox">
                <div class="addBoxItem">
                    <p>Наименование</p>
                    <input 
                        class="page-head-elements"
                        type="text" 
                        name="name" 
                        value="" 
                        placeholder="Введите название"
                        required
                    />
                </div>
                <div class="addBoxItem">
                    <p>Город</p>
                    <input 
                        class="page-head-elements"
                        type="text" 
                        name="city" 
                        value="" 
                        placeholder="Введите город"
                        required
                    />
                </div>
                <div class="addBoxItem">
                    <p>Адрес</p>
                    <input 
                        class="page-head-elements"
                        type="text" 
                        name="address" 
                        value="" 
                        placeholder="Введите адрес"
                        required
                    />
                </div>
                <fieldset>
                    <legend>Выберите рабочие дни</legend>
                    <div>
                        <input type="checkbox" id="monday" name="workdays" value="пн" />
                        <label for="monday">Понедельник</label>
                    </div>
                    <div>
                        <input type="checkbox" id="tuesday" name="workdays" value="вт" />
                        <label for="tuesday">Вторник</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="workdays" value="ср" />
                        <label for="wednesday">Среда</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="workdays" value="чт" />
                        <label for="thursday">Четверг</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="workdays" value="пт" />
                        <label for="friday">Пятница</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="workdays" value="сб" />
                        <label for="saturday">Суббота</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="workdays" value="вс" />
                        <label for="sunday">Воскресенье</label>
                    </div>
                </fieldset>
                <div class="addBoxItem">
                    <p>Время начала работы</p>
                    <input 
                        class="page-head-elements"
                        type="time" 
                        name="time_start" 
                        value=""
                        required
                    />
                </div>
                <div class="addBoxItem">
                    <p>Время окончания работы</p>
                    <input 
                        class="page-head-elements"
                        type="time" 
                        name="time_end" 
                        value="" 
                        placeholder="Введите время"
                        required
                    />
                </div>
                <div class="addBoxItem">
                    <button 
                        type="submit" 
                        class="page-head-elements"
                        formaction="/addNewGym" 
                        formmethod="post">
                        Добавить
                    </button>
                </div>
            </div>
        </form>
        <form action="GET">
            <button 
                class="del"
                formaction="/" 
                formmethod="get">
                На главную
            </button>
        </form>
    </div>
</body>
</html>